
@{
    ViewData["Title"] = "Branch";
}


<h1>Office Index</h1>

<table class="table" id="officeIndexTable">
    <thead>
        <tr>
            <th>Office Name</th>
            <th>Open Now</th>
            <th>Number Of Tutors</th>
            <th>Number of Students</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var office in Model.Offices)
        {
        <tr>
            <td><a asp-controller="Home" asp-action="OfficeDetail" asp-route-id="@office.Id">@office.OfficeName</a></td>
            <td>@office.IsOpen</td>
            <td>@office.NumberOfTutors</td>
            <td>@office.NumberOfStudents</td>
        </tr>
        }
    </tbody>
</table>
